body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;

}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
}

header nav ul li a {
    text-decoration: none;
    display: inline-block; /* Fixade så att bordern inte klippte igenom texten*/
    box-shadow: 0px 0px 5px black;
    padding: 10%;
    
    margin: 3vw;
    border-radius: 1rem;
    color: white;
}