body {
    min-height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: whitesmoke; */
    color: antiquewhite;
    background-color: rgb(18, 18, 171);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
header nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    gap: 2%;
}
header nav ul li a {
    text-decoration: none;
    display: inline-block; /* Fixade så att bordern inte klippte igenom texten*/
    box-shadow: 0px 0px 5px black;
    padding: 10%;
    
    margin: 3vw;
    border-radius: 1rem;
    color: white;
}

main {
    display: grid;
    justify-items: center; /*centrerar rubrik & listan*/
    grid-template-columns: 1fr;
    grid-template-rows: auto auto repeat(auto, 1fr);
    background: radial-gradient(rgba(18, 18, 171), purple);
    box-shadow: 0px 0px 2px black;
    border-radius: 1rem;
    margin: clamp(2%, 5%, 7%);
    font-size: clamp(1rem, 2vw, 2.5rem);
    width: 90%;
}

section {
    margin: auto; /*centrerar elementet*/
    /* width: 90%; */
    text-align: center;
    /* background: radial-gradient(purple, rgba(123, 53, 6, 0887)); */
    display: block;
    padding: 10px;
    font-size: clamp(1rem, 2vw, 2.5rem);
}
.history-section {
    background: radial-gradient(rgba(18, 18, 171), purple);
    border-radius: 1rem;
    box-shadow: 0px 0px 2px black;
    width: 90%;
    margin-top: 2%;
    
}

#artist-rekomend {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    word-break: normal;
    width: 90%;
    margin: clamp(1%, auto, 3%);
    box-shadow: 0px 0px 2px black;
    border-radius: 1rem;
    background: radial-gradient(rgba(18, 18, 171), purple);
}

.artist {
    min-width: clamp(150px, 25vw, 400px);

}


article {
    border: 1px solid black;
    margin: 2%;
    padding: 2%;
    border-radius: 4rem;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    
}
article:hover {
    transform: translateY(5px);
}
article h3 {
    font-style: italic;
    text-decoration: underline;
}

footer {
    height: 10vh;
    font-size: clamp(1rem, 1.5rem, 2rem);
    text-align: center;
    background: linear-gradient(rgba(18, 18, 171), purple);
}


@media (min-width: 600px) and (max-width: 912px) {
    .main-index {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        /* grid-auto-flow: dense; */
        
    }

   main h2 {
    grid-row: 1 / 1;
    grid-column: auto / span 4;
    justify-self: center;
   }
   main ul {
    grid-row: 2 / span 1;
    grid-column: auto / span 4;
   }
    .main-section {
        grid-column: auto / span 4;
        display: grid;
        grid-template-columns: 1fr 1fr;  /* Two equal columns */
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;     
    } 
    .section-article {
        grid-column: auto / span 1;
        grid-row: auto / span 1;
        max-width: 100%;
    }
   
}

@media (min-width: 913px) {
    .main-section {
        grid-column: auto / span 4;
        display: grid;
        grid-template-columns: repeat(6, 1fr) ;  /* Two equal columns */
        grid-template-rows: auto auto 1fr auto;
        grid-gap: 10px;     
    } 
    main h2 {
        grid-row: 1 / 1;
        grid-column: auto / span 6;
        justify-self: center;
       }
       main ul {
        grid-row: 2 / span 1;
        grid-column: auto / span 6;
       }
    .section-article {
        grid-column: auto / span 2;
        grid-row: auto / span 1;
        max-width: 100%;
    }   
    .article-bottom {
        grid-column: 2 / span 4;
        grid-row: 2 / 2;
    }


}